/* =================
 * Utility Classes
 * ================= */

.__fullwidth {
    width: 100%;
}

.__segment {
    padding: 0 1em 100px 1em;
    // margin-bottom: 100px;
    position: relative;
    background-color: #f4f4f4;
    border-top: 1px solid #dededb;
}
.__spacemar {
	margin-top: 15px;
	margin-bottom: 15px;
}

.__spacepad {
	padding-top: 15px;
	padding-bottom: 15px;
}

.__nopadding {
	padding-right: 0;
	padding-left: 0;
}

.__bold {
	font-weight: 700 !important;
}