    @import 'partial/partial';
    .site-main {
        position: relative;
        top: 0;
    }
    
    .section-content {
        .quiz {
            @extend .lead;
        }
    }
    
    .thedanceicon2 {
        &-banner {
            overflow: hidden;
            img {
                @extend .__fullwidth;
                height: 300px;
                @media (min-width: 768px) {
                    height: 600px;
                }
            }
        }
    }
